.loader {
  color: #fff;
  display: inline-block;
  position: relative;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0 white, 20px 0 white;
  }
}

.loadingCloud {
  width: 175px;
  height: 80px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, rgba(255, 255, 255, 0)),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, rgba(255, 255, 255, 0)),
    linear-gradient(#fff 50px, rgba(255, 255, 255, 0));
  background-size: 60px 60px, 100px 80px, 60px 60px, 130px 45px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}

.loadingCloud::after {
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-color: #62c1e5 transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
